#!/bin/bash

############################################################
####
####  Exports
####

export MY_EDITOR=joe
export EDITOR=joe
export HISTFILESIZE=50000
export COMPOSER_HOME=$_COMPOSER_HOME

############################################################
####
####  System
####

alias hostfile="ed /etc/hosts"
alias sshconfig="ed ~/.ssh/config"
alias copykey='command cat ~/.ssh/id_rsa.public | pbcopy'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Fast open
alias o="open ."

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Scape webpage
alias scrape="scrapeUrl"


############################################################
####
####  Change Directory
####

alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'


############################################################
####
####  PHPUnit
####

alias t="clear; phpunit"
alias phpunit="vendor/bin/phpunit"
alias phpunitw="phpunit-watcher watch"
alias p="phpunit"
alias pf="phpunit --filter "


############################################################
####
####  Git
####


# Git
alias gm="git merge"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias nah='git reset --hard;git clean -df'
alias ga='git add'
alias gaa='git add -A'
alias gaac="git add -A; git commit -m "
alias gb='git branch'
alias gc='git commit -m '
alias gca='git commit -a'
alias gcam='git commit -a -m'
alias gce='git config --global -e'
alias gcm='git commit -m'
alias gco='git checkout'
alias gcob='git checkout -b '
alias gcp='git cherry-pick'
alias gd='git diff'
alias gdc='git diff --cached'
alias gf='git fetch --all'
alias gl='git log'
alias gll='git log --all --decorate --oneline -n 30'
alias gpo="git push origin"
alias gpom='git push origin master'
alias gpod="git push origin develop"
alias gpomp='git push origin master:production'
alias gr='git remote'
alias gra='git remote add'
alias grr='git remote rename'
alias gs='git status'
alias gsr='gstatus'
alias gss='gstatus'
alias gt='git tag'
alias gdisc='git clean -df; git checkout -- .'
alias gcl='git clone'
alias clone='gcl'
alias gup='git pull --rebase --prune; git submodule update --init --recursive'
alias gundo='reset HEAD~1 --mixed'
alias gamend='git commit -a --amend'
alias gwipe="git add -A ; git commit -qm 'WIPE SAVEPOINT' ; git reset HEAD~1 --hard"
alias gconf="ed .git/config"

# remove files that are not under version control
alias gcf="git clean -f"

# discard changes in the working directory
alias gcod="git checkout -- ."

# grab the latest upstream version
alias gpum="git pull upstream master"

# delete branch from github. follow with branch name
alias gpodelete="git push origin --delete"

# show git status without untracked files
alias gsu="git status -uno"

############################################################
####
####  Date and Time
####

alias path='echo -e ${PATH//:/\\n}'
alias now='date +"%T'
alias nowtime=now
alias nowdate='date +"%d-%m-%Y"'


############################################################
####
####  Ping and Ports
####

# Do not wait interval 1 second, go fast #
alias fastping='ping -c 100 -s.2'

alias ports='netstat -tulanp'


############################################################
####
####  Filesystem Commands Protection
####

# do not delete / or prompt if deleting more than 3 files at a time #
alias rm='sudo rm'

# confirmation #
alias mv='mv -i'
alias cp='cp -i'
alias ln='ln -i'

# Parenting changing perms on / #
alias chown='chown '
alias chmod='chmod '
alias chgrp='chgrp '


############################################################
####
####  Apt (Debian / Ubuntu)
####

alias apt-get="sudo apt-get"
alias updatey="sudo apt-get --yes"
alias ag="sudo apt-get"
alias agi="sudo apt-get install"
alias agiy="sudo apt-get --yes install"
alias agu="sudo apt-get update"
alias acs="sudo apt-cache search"
alias ags=acs                          # sometimes apt-get search is just easier to remember :)
alias acsh='sudo apt-cache show'
alias afs='sudo apt-file show'
alias afl='sudo apt-file list'
alias upgrade='sudo apt-get update && sudo apt-get upgrade'

############################################################
####
####  Reboot / Shutdown
####

# reboot / halt / poweroff
alias reboot='sudo /sbin/reboot'
alias poweroff='sudo /sbin/poweroff'
alias halt='sudo /sbin/halt'
alias shutdown='sudo /sbin/shutdown'


############################################################
####
####  Wget Protection
####

## this one saved by butt so many times ##
alias wget='wget -c'


############################################################
####
####  Pretty disk free and usage
####

## set some other defaults ##
alias df='df -H'
alias du='du -ch'

############################################################
####
####  ls - The 'sudo ls' family (this assumes you use a recent GNU ls).
####

alias ls='sudo \ls -laFG'
alias l=ls

# Add colors for filetype and  human-readable sizes by default on 'sudo ls':
alias lx='sudo ls -lXB'         #  Sort by extension.
alias lk='sudo ls -lSr'         #  Sort by size, biggest last.
alias lt='sudo ls -ltr'         #  Sort by date, most recent last.
alias lc='sudo ls -ltcr'        #  Sort by/show change time,most recent last.
alias lu='sudo ls -ltur'        #  Sort by/show access time,most recent last.

# The ubiquitous 'll': directories first, with alphanumeric sorting:
alias ll="sudo ls -lv --group-directories-first"
alias lm='sudo ll |more'        #  Pipe through 'more'
alias lr='sudo ll -R'           #  Recursive ls.
alias la='sudo ll -A'           #  Show hidden files.
alias tree='sudo tree -Csuh'    #  Nice alternative to 'recursive ls' ...

#List only directories
alias lsd='sudo ls -l | grep "^d"'


############################################################
####
####  Spelling typos - highly personal and keyboard-dependent :-)
####

alias xs='cd'
alias vf='cd'
alias moer='more'
alias moew='more'
alias kk='ll'


############################################################
####
####  File & strings related functions:
####

# Find a file with a pattern in name:
function ff() { find . -type f -iname '*'"$*"'*' -ls ; }

# Find a file with pattern $1 in name and Execute $2 on it:
function fe() { find . -type f -iname '*'"${1:-}"'*' \
-exec ${2:-file} {} \;  ; }

############################################################
####
####  Unzip / Extract
####

function extract()      # Handy Extract Program
{
    if [ -f $1 ] ; then
        case $1 in
            *.tar.bz2)   tar xvjf $1     ;;
            *.tar.gz)    tar xvzf $1     ;;
            *.bz2)       bunzip2 $1      ;;
            *.rar)       unrar x $1      ;;
            *.gz)        gunzip $1       ;;
            *.tar)       tar xvf $1      ;;
            *.tbz2)      tar xvjf $1     ;;
            *.tgz)       tar xvzf $1     ;;
            *.zip)       unzip $1        ;;
            *.Z)         uncompress $1   ;;
            *.7z)        7z x $1         ;;
            *)           echo "'$1' cannot be extracted via >extract<" ;;
        esac
    else
        echo "'$1' is not a valid file!"
    fi
}

# Creates an archive (*.tar.gz) from given directory.
function maketar() { tar cvzf "${1%%/}.tar.gz"  "${1%%/}/"; }

# Create a ZIP archive of a file or folder.
function makezip() { zip -r "${1%%/}.zip" "$1" ; }

# Make your directories and files access rights sane.
function sanitize() { chmod -R u=rwX,g=rX,o= "$@" ;}


############################################################
####
####  MS-DOS aliases
####

alias md='sudo mkdir -p'
alias copy='cp'
alias rd='sudo rmdir'
alias del='sudo rm'
alias cls='clear'
alias dir='l'
alias move='sudo mv'
alias locate='locate -i'

if [ "$EDITOR" = "" ]; then
  alias ed='sudo $MY_EDITOR'
else
  alias ed='sudo $EDITOR'
fi


############################################################
####
####  PHP check
####

# Check PHP For Errors
alias phpcheck='find ./ -name \*.php | xargs -n 1 php -l'


############################################################
####
####  chmod
####

#chmod train
alias mx='sudo chmod a+x'
alias 000='sudo chmod 000'
alias 400='sudo chmod 400'
alias 644='sudo chmod 644'
alias 755='sudo chmod 755'


############################################################
####
####  Show all IPs in the current box
####

alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"


############################################################
####
####  Composer
####

alias c="composer"
alias cda="composer dump-autoload"
alias cdo="composer dump-autoload --optimize"
alias cu="composer update"
alias cus="composer update --prefer-source"
alias cups="composer update --prefer-source"
alias cud="composer update --prefer-dist"
alias cupd="composer update --prefer-dist"
alias csu="sudo composer self-update"
alias cr="composer require"
alias ci="composer install"

############################################################
####
####  Laravel
####

# Tail Laravel and Webserver (NGINX & Apache 2) log files
# Compatible with Laravel 4 & 5
#
alias tl="/bin/ls -d /var/log/nginx/* /var/log/apache2/* storage/logs/* app/storage/logs/* storage/laravel.log | grep -v 'gz$' | grep -v '1$' | xargs tail -f"

##### If you don't have artisan anywhere installed, uncomment the next line
#alias artisan="php artisan"

alias a="artisan"
alias d="php artisan dusk"
alias df="php artisan dusk --filter"

function routes()
{
    if [ $# -eq 0 ]; then
        php artisan route:list
    else
        php artisan route:list | grep ${1}
    fi
}

############################################################
####
####  System
####

alias ulimit='ulimit -S'
alias less='less -r'
alias fuck='sudo $(history -p \!\!)'




############################################################
####
####  JavaScript
####

# Jest
alias jest="./node_modules/.bin/jest"

# Switch NPM
alias npmnpm="npm config set registry https://registry.npmjs.org"
alias npmspatie="npm config set registry https://npm.spatie.be"

############################################################
####
####  Editors
####

# PhpStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# VSCode
alias code='open -a "/Applications/Visual Studio Code.app" "`pwd`"'

############################################################
####
####  Misc
####

# Redis
alias flush-redis="redis-cli FLUSHALL"

